body {
	font-family: sans-serif;
	margin: auto;
	width: 100vw;
}

.navbar {
	background-color: #313236;
}

.navbar a {
	color: #aaa;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	text-decoration: none;
}

.navbar a:hover {
	color: #ffffff;
}
